<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="student">
    <select id="getStudents">
        SELECT *
        FROM student
    </select>

    <select id="getStudentByNo">
        SELECT *
        FROM student
        WHERE no = #{no}
    </select>

    <select id="getStudentByName">
        SELECT *
        FROM student
        WHERE name = #{name}
    </select>

    <select id="getStudentByBirthday">
        SELECT *
        FROM student
        WHERE birthday = #{birthday}
    </select>

    <insert id="insertStudent">
        INSERT INTO student (no, name, birthday)
        VALUES (#{no}, #{name}, #{birthday})
    </insert>

    <update id="updateStudent">
        UPDATE student
        SET birthday = #{birthday}
        WHERE no = #{no}
    </update>

    <delete id="deleteStudentByNo">
        DELETE
        FROM student
        WHERE no = #{no}
    </delete>
</mapper>